/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  //margin-bottom: 40px;
}

/* Custom page footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 15px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.navbar {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.navbar-brand {
  padding: 0px;
}

.pagination {
  margin-top: 0px;
  margin-bottom: 10px;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

#loading-bar-spinner .spinner-icon {
  border-top-color: whitesmoke;
  border-left-color: whitesmoke;
}

#loading-bar .bar {
  background: whitesmoke;
  height: 4px;
}

.sortable {
  cursor: pointer;
  border-bottom: 2px solid #e396ab !important;
}

.sorted_asc, .sorted_desc {
  border-bottom: 2px solid #5f192c !important;
}

.input-group-addon {
  border-right: 1px dotted #E6E6E6;
  border-top: 1px dotted #E6E6E6;
  border-bottom: none;
  top: 0;
  box-shadow: inset 0 -1px 0 #dddddd;
  cursor: pointer;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-group .form-control:focus ~ .input-group-addon {
  box-shadow: inset 0 -2px 0 #5f192c;
}

.form-group .has-error .input-group-addon {
  border-color: white;
  background-color: white;
  box-shadow: inset 0 -2px 0 #b60b0f;
}

.form-group .has-error .input-group .form-control:focus ~ .input-group-addon {
  border-color: white;
  background-color: white;
  box-shadow: inset 0 -2px 0 #b60b0f;
}

.placeholder {
  color: #dddddd;
}

div h2 {
  margin-top: 0px;
}

::selection {
  background-color: #5f192c;
  color: whitesmoke;
}

::-moz-selection {
  background-color: #5f192c;
  color: whitesmoke;
}

/* MILLENNIUM CENTURY CUSTOM CSS */

@font-face {
	font-family: heracles;
	src: url("../fonts/heracles.ttf");
}
@font-face {
	font-family: GoGoPosterPunch;
	src: url("../fonts/GoGoPosterPunch.otf");
}
@font-face {
	font-family: PorterBold;
	src: url("../fonts/Porter-Bold.ttf");
}

body {
	font-family: Helvetica;
}

.item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
}

.item .thumb img {
	width: 100%;
	margin: 2px;
}

.item img {
	width: 100%;
}

.navbar-default {
	background-color: transparent;
}

.navbar {
	box-shadow: none;
}

.navbar-default .navbar-brand{
	padding: 15px;
}

.header, .navbar {
	margin-bottom: 0px;
}

.navbar-default {
	border-color: transparent;
}

.section p, .section span {
	white-space: pre-wrap;
}

.president-branding {
	font-family: heracles;
	font-size: 48px!important;
	line-height: 0.8;
}

@media only screen and (min-width : 320px) {
	.navbar-default .navbar-brand {
		font-size: 0.5em;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.navbar-default .navbar-brand {
		font-size: 1em;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.navbar-default .navbar-brand {
		font-size: 1.5em;
	}
	.nav > li > a {
		padding: 15px 30px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.navbar-default .navbar-brand {
		font-size: 2em;
	}
	.nav > li > a {
		padding: 15px 45px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.navbar-default .navbar-brand {
		font-size: 2.5em;
	}
	.nav > li > a {
		padding: 15px 45px;
	}
}